* {
  box-sizing: border-box;
}


/* universal component styles */
.header {
  border: 1px solid lightgreen;
}

.navbar {
  border: 1px solid lightblue;
}

.footer {
  border: 1px solid yellow;
}

.landingPage {
  border: 1px solid lightcoral;
}


/*article list styles */
.articles {
  border: 1px solid lightcoral;
  text-align: center;
}

.article_card {
  margin: 1rem;
  border: 1px solid plum;
}

.article_card > img {
  max-width: 100%;
}


/* single article styles incl. comments */
.article {
  border: 1px solid lightcoral;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article > img {
  max-width: 100%;
}
.comments {
  border: 1px solid plum;
}

.comment {
  margin: 1rem;
  border: 1px solid purple;
}

.votingBooth {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}