* {
  box-sizing: border-box;
}

.header {
  border: 1px solid lightgreen;
}

.navbar {
  border: 1px solid lightblue;
}

.footer {
  border: 1px solid yellow;
}

.articles {
  border: 1px solid lightcoral;
  text-align: center;
}

.article_card {
  margin: 1rem;
  border: 1px solid plum;
}

.article_card > img {
  max-width: 100%;
}

.landingPage {
  border: 1px solid lightcoral;
}



.article {
  border: 1px solid lightcoral;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article > img {
  max-width: 100%;
}

.votingBooth {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}